.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea/

.vscode/

doc/
example/ios/Flutter/flutter_export_environment.sh
example/.flutter-plugins-dependencies
example/ios/Flutter/.last_build_id
example/ios/Flutter/Flutter.podspec
/pubspec.lock
